html {
  font-size: 30px;
  background-color: #000000;
}
h1.main{
  font-size: 40px;
  color: #EF2929;
  width:300px;
  margin:auto;
}
a{
  color: #6131AD;
}
a:hover{
  text-decoration: none;
}
h1.Short_Story{
  font-size:30px;
  width: 180px;
  color:#D06B32;
  margin:0px 0px 0px 12.9%;
}
img.Short_Story{
  margin:0px 0px 0px 9.5%;
}
details.Short_Story{
  margin:0px 0px 0px 9.5%;
  font-size:20px;
  width:300px;
  color:#28FF7F;
}
a.Short_Story{
  margin:0px 0px 0px 9.5%;
  font-size: 25px
}
p.Short_Story{
  margin:0;
}
