html {
  font-size: 30px;
  font-family: FreeSans-1Zge.otf;
}
h1{
  font-size: 40px;
  color: #EF2929;
  margin:auto;
  margin-bottom: -20;
}
h2{
  font-size:33px;
  margin:auto;
  margin-bottom: 0;
  margin-top: -20;
}
body{
  background-color: #BABDB6;
  padding-left: 20;
}
p {
  width: 500px;
  margin: 0;
  margin-top: 20;
  margin-bottom: 20
}
ul{
  margin:auto;
  margin-left: -40;
}
li {
  list-style-type: none;
}
a{

}
